<body>
  <div class="nav-container">
  <div id="nav">
    <h1 id="logo"></h1>
        <li><a id="login" href="/me">Connect</a></li>
        <li><a id="logout" href="/me">Sign Out</a></li>
    </div>
  </div>


  <div class="user_screen">
    <form class="search_buttons">
      <input class="genre" type="text" name ="genre" placeholder="genre">
      <input class="tags" type="text" name ="tags" placeholder="tags">
      <select class="track_type ">
        <option value="track_type">Track Type</option>
        <option value="original">Original</option>
        <option value="remix">Remix</option>
        <option value="live">Live</option>
      </select>
      <input class="sub" type="submit" value="search">
    </form>
  </div>


  <div class="article column1">
    <p></p>
<!--     <ul id="u1"></ul>
 -->  </div>

  <div class="article column2">
    <p></p>
<!--     <ul id="u2"></ul>
 -->  </div>


  <div id="footer">
    <p></p>
  </div>
</body>


